{% extends 'base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Us</title>
  <link rel="stylesheet" href="{% static 'css/shared-styles.css' %}">

</head>
<body>
    <header>
        <h2>Contact Us</h2>
    </header>
    <div class="contact-card">
        <h1>Forex Ltd</h1>
        <p>2950 Peter Street Windsor, Ontario, Canada N9C 1G8</p>
        <p>Phone: 226-961-XXXX</p>
        <p>Email: dummyMail@forex.com</p>
        <p><strong>Business Hours(EST):</strong></p>
        <p>Monday to Friday: 9:00 AM to 5:00 PM</p>
        <p>Saturday: 10:00 AM to 6:00 PM</p>
    </div>
</body>
</html>
{% endblock %}
