{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Frequently Asked Questions</title>
    <link rel="stylesheet" href="{% static 'css/shared-styles.css' %}">
</head>
<body>
    <header>
        <h2>Frequently Asked Questions</h2>
    </header>
    <div class="faq-card">
        <div class="faq-item">
            <h1>Is there any mark-up on the currency conversion rate shown?</h1>
            <p>No</p>
        </div>
        <div class="faq-item">
            <h1>What currencies are available for exchange?</h1>
            <p>All major or exotic currencies are available on the website. List of currencies can be referred to through our full rate card.</p>
        </div>
        <div class="faq-item">
            <h1>Is there any minimum order value for placing currency notes order?</h1>
            <p>Yes, the order value must be at a minimum of CAD 150.</p>
        </div>
        <div class="faq-item">
            <h1>Can I buy 2 or more currencies in a single order?</h1>
            <p>No</p>
        </div>
    </div>
</body>
</html>
{% endblock %}
