{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    {% bootstrap_css %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body class="w-100 d-flex flex-column justify-content-center align-items-center">
<img src="{% static 'images/logo.png' %}" class="register-logo" alt="Company Logo">
<div class="w-50 p-5 background-white shadow-lg rounded-3 mt-4">
    {% if success_message %}
    <div class="alert alert-success">
        {{ success_message }}
    </div>
{% endif %}

    <form method="post" class="m-3 d-flex flex-column align-items-center" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- FirstName -->
        <input type="text" id="first_name" name="first_name" class="form-control form-control-lg shadow-sm"
               placeholder="First Name" required><br>

        <!-- LastName -->
        <input type="text" id="last_name" name="last_name" class="form-control form-control-lg shadow-sm"
               placeholder="Last Name" required><br>


        <input type="email" id="email" name="email" class="form-control form-control-lg shadow-sm" placeholder="Email ID" required><br>

        <input type="password" id="password" name="password" class="form-control form-control-lg shadow-sm"
               placeholder="Password" required><br>
         <!-- ConfirmPassword -->
        <input type="password" id="confirm_password" name="confirm_password" class="form-control form-control-lg shadow-sm"
               placeholder="Confirm Password" required><br>


        <select id="role" name="role" class="form-select form-control-lg shadow-sm">
            <option value="student">Student</option>
            <option value="teacher">Teacher</option>
        </select><br>
 <input type="file" name="id_or_photo" accept="image/*,application/pdf" class="form-control form-control-lg shadow-sm" required>
          <small class="text-muted">Upload a valid ID or photo (JPEG, PNG, PDF).</small>
        <input type="submit" value="Sign up" class="btn rounded-pill px-5 py-2 btn-color mt-2 fs-5 btn-color-primary">
    </form>
    <a class="fs-5" href="{% url 'login' %}">Already have an account?</a>
</div>
{% bootstrap_javascript %}
{% if error %}
    <script>
    function showAlert() {
        const errorMessage = "{{ error }}";
        alert(errorMessage);
    }
    window.onload = showAlert;
    </script>
{% endif %}
</body>
</html>